<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распознавание лиц</title>
    <link rel="stylesheet" href = "/static/style.css">
</head>
<body>
    <h1>Разпознование лица</h1>
    <h2>Загрузите изображение</h2>
    <input type="file"  id="uploadImage" accept="image/*">
    <button onclick="UploadImage()">Загрузить</button>
    <h2>Результат:</h2>
    <img id = "resultImage" src="" alt="Обработанное изображение появится здесь">
    <script src="/static/script.js"></script>
</body>
</html>